* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

.card-product {
  border: solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  min-width: 300px;
  height: 400px;
  margin: 20px;
}

.card-product img {
  height: 200px;
  width: fit-content;
  overflow: hidden;
  border-radius: 5px;
  margin: 10px;
}
